doctype 5
html(lang="en")
  head
    title= name

    link(rel='stylesheet', href='/css/chat.css')

    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/1.4.5/jquery.scrollTo.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js")

    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js")
    script(src="/socket.io/socket.io.js")

  body
    #header
      #title= name

    #container
      #board
        #boardend

    #footer
      #input
        #footer-wrapper
          textarea#message

    script(src="/js/chat.js")
